@import url("https://fonts.googleapis.com/css?family=Open+Sans:300:400,600&display=swap");
@import "reset.css";
@import "status-bar.css";
@import "header.css";
@import "nav-bar.css";
@import "friend.css";
@import "friends.css";
@import "find.css";
@import "more.css";
@import "settings.css";
@import "chat.css";

* {
  box-sizing: border-box;
}
body {
  background-color: white;
  padding: 10px 20px;
  color: #202020;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
.friend .friend__column {
  display: flex;
  align-items: center;
}

.friend .friend__avatar {
  margin-right: 15px;
}
.friend__content .friend__name {
  display: block;
  margin-bottom: 5px;
}

.friend__content .friend__bottom-text,
.friend__content .friend__status { 
    opacity:0.6;
}

.friend__content .friend__bottom-text {
    font-size:14px;S
}

.friend__content .friend__status { 
    font-size:12px;
}

.friend .chat__timestamp {
    font-size:12px;
    opacity:0.6;
}

